$purple: #3b04dc;
$blue: #023cfb;
$green: #2be7b3;
$grey: #eee;
$yellow: #ffe75e;

@mixin highlight {
	color: $blue;
	transition: color .2s linear;
	&:hover {
		background: $blue;
		color: white;
	}
}

@mixin h1 {
	font-size: 40px;
	font-family: 'Montserrat';
	font-weight: bold;
	padding: 10px 0px;
}

@mixin socials {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	max-width: 60%;
	align-content: flex-start;
	a {
		color: white;
		box-sizing: border-box;
	}
	i {
		font-size: 30px;
		transition: all .3s;
		padding: 10px;
		color: black;
		&:hover {
			color: $blue;
			cursor: pointer;
		}
	}
}
