@import 'variables';

.socials {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 60%;
	a {
		color: white;
		box-sizing: border-box;
	}
	i {
		font-size: 30px;
		transition: all .3s;
		background: black;
		padding: 10px;
		&:hover {
			color: white;
			background: $blue;
			cursor: pointer;
		}
	}
}
